force-app/main/default/flows/Admin_Dashboard.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <assignments>
        <name>Assign_Approve</name>
        <label>Assign Approve</label>
        <locationX>138</locationX>
        <locationY>1454</locationY>
        <assignmentItems>
            <assignToReference>Approve_GetRelatedOrder.Approval_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Approve</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Rejected</name>
        <label>Assign Rejected</label>
        <locationX>490</locationX>
        <locationY>1454</locationY>
        <assignmentItems>
            <assignToReference>Reject_GetRelatedOrder_0.Approval_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Rejected</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Rejected</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_User_as_Valid_Approver_0</name>
        <label>Assign User as Valid Approver</label>
        <locationX>226</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>Is_Valid_Approver</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Main_Screen</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Approve_Reject_Decision</name>
        <label>Approve/Reject</label>
        <locationX>358</locationX>
        <locationY>1094</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Approve</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IsApprovingOrders</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Approve_LoopOrderSummaries</targetReference>
            </connector>
            <label>Approve</label>
        </rules>
        <rules>
            <name>Reject</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IsApprovingOrders</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Reject_LoopOrderSummaries</targetReference>
            </connector>
            <label>Reject</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_the_User_a_Valid_Approver</name>
        <label>Is the User a Valid Approver?</label>
        <locationX>358</locationX>
        <locationY>638</locationY>
        <defaultConnector>
            <targetReference>Main_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>User_is_Valid_Approver</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Permission_Set_Assignments</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_User_as_Valid_Approver_0</targetReference>
            </connector>
            <label>User is Valid Approver</label>
        </rules>
    </decisions>
    <interviewLabel>Admin Dashboard {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Admin Dashboard</label>
    <loops>
        <name>Approve_LoopOrderSummaries</name>
        <label>Approve_LoopOrderSummaries</label>
        <locationX>50</locationX>
        <locationY>1214</locationY>
        <collectionReference>OrderSummarySelectedCollection</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Approve_GetRelatedOrder</targetReference>
        </nextValueConnector>
    </loops>
    <loops>
        <name>Reject_LoopOrderSummaries</name>
        <label>Reject_LoopOrderSummaries</label>
        <locationX>402</locationX>
        <locationY>1214</locationY>
        <collectionReference>OrderSummarySelectedCollection</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Reject_GetRelatedOrder_0</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Approve_GetRelatedOrder</name>
        <label>Approve_GetRelatedOrder</label>
        <locationX>138</locationX>
        <locationY>1334</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Approve</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Approve_LoopOrderSummaries.OriginalOrder.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Order</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Administrator_Persona_Id</name>
        <label>Get Administrator Persona Id</label>
        <locationX>358</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Buyer_Persona_3_Id</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Administrator_Persona</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PermissionSet</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Buyer_Persona_3_Id</name>
        <label>Get Buyer Persona 3 Id</label>
        <locationX>358</locationX>
        <locationY>398</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Permission_Set_Assignments</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Buyer_Persona_3</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PermissionSet</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_OrderSummaries</name>
        <label>Get OrderSummaries</label>
        <locationX>358</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Administrator_Persona_Id</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Is_Requistion_Order__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Is_Pending_Order__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OrderSummary</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Permission_Set_Assignments</name>
        <label>Get Permission Set Assignments</label>
        <locationX>358</locationX>
        <locationY>518</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_the_User_a_Valid_Approver</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3)</filterLogic>
        <filters>
            <field>AssigneeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>PermissionSetId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Administrator_Persona_Id.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>PermissionSetId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Buyer_Persona_3_Id.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PermissionSetAssignment</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Reject_GetRelatedOrder_0</name>
        <label>Reject_GetRelatedOrder</label>
        <locationX>490</locationX>
        <locationY>1334</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Rejected</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Reject_LoopOrderSummaries.OriginalOrder.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Order</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Approve</name>
        <label>Update Approve</label>
        <locationX>138</locationX>
        <locationY>1574</locationY>
        <connector>
            <targetReference>Approve_LoopOrderSummaries</targetReference>
        </connector>
        <inputReference>Approve_GetRelatedOrder</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Rejected</name>
        <label>Update Rejected</label>
        <locationX>490</locationX>
        <locationY>1574</locationY>
        <connector>
            <targetReference>Reject_LoopOrderSummaries</targetReference>
        </connector>
        <inputReference>Reject_GetRelatedOrder_0</inputReference>
    </recordUpdates>
    <runInMode>SystemModeWithSharing</runInMode>
    <screens>
        <name>Main_Screen</name>
        <label>Main Screen</label>
        <locationX>358</locationX>
        <locationY>974</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Approve_Reject_Decision</targetReference>
        </connector>
        <fields>
            <name>OrderSummary_DataTable</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>OrderSummary</typeValue>
            </dataTypeMappings>
            <extensionName>c:flowDataTable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>columnFields</name>
                <value>
                    <stringValue>OrderNumber,Status,AccountId,OrderedDate</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Get_OrderSummaries</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableBorder</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isApprover</name>
                <value>
                    <elementReference>Is_Valid_Approver</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>OrderSummarySelectedCollection</assignToReference>
                <name>outputSelectedRows</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>IsApprovingOrders</assignToReference>
                <name>isApproving</name>
            </outputParameters>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>232</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_OrderSummaries</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>BOOL_ShouldApprove</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>BOOL_ShouldReject</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>Is_Valid_Approver</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>IsApprovingOrders</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>OrderSummarySelectedCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OrderSummary</objectType>
    </variables>
    <variables>
        <name>Permission_Set_Assignments</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>PermissionSetAssignment</objectType>
    </variables>
</Flow>
