force-app/main/default/flows/B2B_Checkout_Session.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Checkout_Session_Action</name>
        <label>Checkout Session Action</label>
        <locationX>150</locationX>
        <locationY>250</locationY>
        <actionName>checkoutSessionAction</actionName>
        <actionType>checkoutSessionAction</actionType>
        <connector>
            <targetReference>Get_Checkout_Session</targetReference>
        </connector>
        <faultConnector>
            <targetReference>B2B_Checkout_Error</targetReference>
        </faultConnector>
        <inputParameters>
            <name>cartId</name>
            <value>
                <elementReference>cartId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>initialState</name>
            <value>
                <stringValue>Start</stringValue>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>checkoutSessionId</assignToReference>
            <name>requestId</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>52.0</apiVersion>
    <decisions>
        <name>Validate_Checkout_State</name>
        <label>Validate Checkout State</label>
        <locationX>649</locationX>
        <locationY>252</locationY>
        <defaultConnector>
            <targetReference>B2B_Refresh_Page</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>invalid: state not expected</defaultConnectorLabel>
        <rules>
            <name>valid_no_expected_state</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>expCurrentState</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>expCurrentState</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <label>valid: no expected state</label>
        </rules>
        <rules>
            <name>valid_expected_match_state</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>expCurrentState</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>checkoutSession.State</elementReference>
                </rightValue>
            </conditions>
            <label>valid: expected match state</label>
        </rules>
    </decisions>
    <interviewLabel>Checkout Session {!$Flow.CurrentDateTime}</interviewLabel>
    <isAdditionalPermissionRequiredToRun>true</isAdditionalPermissionRequiredToRun>
    <label>B2B Checkout Session</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>CheckoutFlow</processType>
    <recordLookups>
        <name>Get_Checkout_Session</name>
        <label>Get Checkout Session</label>
        <locationX>400</locationX>
        <locationY>250</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Validate_Checkout_State</targetReference>
        </connector>
        <faultConnector>
            <targetReference>B2B_Checkout_Error</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>checkoutSessionId</elementReference>
            </value>
        </filters>
        <object>CartCheckoutSession</object>
        <outputReference>checkoutSession</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>State</queriedFields>
        <queriedFields>NextState</queriedFields>
        <queriedFields>IsProcessing</queriedFields>
        <queriedFields>OrderId</queriedFields>
        <queriedFields>IsError</queriedFields>
    </recordLookups>
    <start>
        <locationX>24</locationX>
        <locationY>40</locationY>
        <connector>
            <targetReference>Checkout_Session_Action</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>B2B_Checkout_Error</name>
        <label>B2B Checkout Error</label>
        <locationX>289</locationX>
        <locationY>519</locationY>
        <flowName>B2B_Checkout_Error</flowName>
        <inputAssignments>
            <name>cartId</name>
            <value>
                <elementReference>cartId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ErrorMessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>B2B_Refresh_Page</name>
        <label>B2B Refresh Page</label>
        <locationX>657</locationX>
        <locationY>508</locationY>
        <flowName>B2B_Checkout_Error</flowName>
        <inputAssignments>
            <name>cartId</name>
            <value>
                <elementReference>cartId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>refreshPage</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <variables>
        <name>cartId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>checkoutSession</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>CartCheckoutSession</objectType>
    </variables>
    <variables>
        <name>checkoutSessionId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>errorCode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>expCurrentState</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
