force-app/main/default/flows/Recall_Claim_Form.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Submit_for_Else_Approval</name>
        <label>Submit for Else Approval</label>
        <locationX>2294</locationX>
        <locationY>6542</locationY>
        <actionName>submit</actionName>
        <actionType>submit</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>processDefinitionNameOrId</name>
            <value>
                <stringValue>Warranty_Claim_Approval_Process</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>objectId</name>
            <value>
                <elementReference>CaseId</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Submit_to_Chair_Approval_Process</name>
        <label>Submit to Chair Approval Process</label>
        <locationX>974</locationX>
        <locationY>6542</locationY>
        <actionName>submit</actionName>
        <actionType>submit</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>processDefinitionNameOrId</name>
            <value>
                <stringValue>Warranty_Claim_Approval_Process_Chair</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>objectId</name>
            <value>
                <elementReference>CaseId</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Submit_to_Lift_Approval</name>
        <label>Submit to Lift Approval</label>
        <locationX>1238</locationX>
        <locationY>6542</locationY>
        <actionName>submit</actionName>
        <actionType>submit</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>processDefinitionNameOrId</name>
            <value>
                <stringValue>Warranty_Claim_Approval_Process_Lift</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>objectId</name>
            <value>
                <elementReference>CaseId</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Submit_to_Recall_Approval</name>
        <label>Submit to Recall Approval</label>
        <locationX>1502</locationX>
        <locationY>6542</locationY>
        <actionName>submit</actionName>
        <actionType>submit</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>processDefinitionNameOrId</name>
            <value>
                <stringValue>Warranty_Claim_Approval_Process_Recall</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>objectId</name>
            <value>
                <elementReference>CaseId</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Submit_to_Seat_Approval</name>
        <label>Submit to Seat Approval</label>
        <locationX>1766</locationX>
        <locationY>6542</locationY>
        <actionName>submit</actionName>
        <actionType>submit</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>processDefinitionNameOrId</name>
            <value>
                <stringValue>Warranty_Claim_Approval_Process_Seat</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>objectId</name>
            <value>
                <elementReference>CaseId</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Submit_to_WAV_Approval</name>
        <label>Submit to WAV Approval</label>
        <locationX>2030</locationX>
        <locationY>6542</locationY>
        <actionName>submit</actionName>
        <actionType>submit</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>processDefinitionNameOrId</name>
            <value>
                <stringValue>Warranty_Claim_Approval_Process_WAV</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>objectId</name>
            <value>
                <elementReference>CaseId</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>52.0</apiVersion>
    <assignments>
        <name>Add_Parts_Total_New</name>
        <label>Add Parts Total</label>
        <locationX>1964</locationX>
        <locationY>4382</locationY>
        <assignmentItems>
            <assignToReference>PartsTotal</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Product_Price_New.UnitPrice</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AssignTempProductPart_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Parts_Total_Resubmit</name>
        <label>Add Parts Total</label>
        <locationX>1260</locationX>
        <locationY>4382</locationY>
        <assignmentItems>
            <assignToReference>PartsTotal</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Product_Price_New.UnitPrice</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Claim_Amount</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_to_Update_List</name>
        <label>Add to Update List</label>
        <locationX>1392</locationX>
        <locationY>4838</locationY>
        <assignmentItems>
            <assignToReference>ClaimProductsCollectionToUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Claim_Products_Loop</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Claim_Products_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AddTempProductToCollection_0_0</name>
        <label>AddTempProductToCollection</label>
        <locationX>1700</locationX>
        <locationY>4262</locationY>
        <assignmentItems>
            <assignToReference>ClaimProductsCollectionToCreate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>TempClaimProduct</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Claim_Products_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AddTempProductToCollection_0_0_0</name>
        <label>AddTempProductToCollection</label>
        <locationX>1964</locationX>
        <locationY>4622</locationY>
        <assignmentItems>
            <assignToReference>ClaimProductsCollectionToCreate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>TempClaimProduct</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Claim_Products_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Repair_Tech_Email</name>
        <label>Assign Repair Tech Email</label>
        <locationX>424</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>RepairTechEmail</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Rejected_Case.Dealer_Rep__r.Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Repair_Tech_Id</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Repair_Tech_Id</name>
        <label>Assign Repair Tech Id</label>
        <locationX>424</locationX>
        <locationY>1118</locationY>
        <assignmentItems>
            <assignToReference>RepairTechId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Rejected_Case.Dealer_Rep__r.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Related_Asset</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignTempProductLabor_0</name>
        <label>AssignTempProductLabor</label>
        <locationX>1700</locationX>
        <locationY>4142</locationY>
        <assignmentItems>
            <assignToReference>TempClaimProduct.Case__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CaseId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TempClaimProduct.Hours__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Claim_Products_Loop.Hours__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TempClaimProduct.Labor_Description__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Claim_Products_Loop.Labor_Description__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TempClaimProduct.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Claim_Products_Loop.RecordTypeId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TempClaimProduct.Topic_1__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Claim_Products_Loop.Topic_1__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TempClaimProduct.Topic_2__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Claim_Products_Loop.Topic_2__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TempClaimProduct.Topic_3__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Claim_Products_Loop.Topic_3__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TempClaimProduct.Topic_4__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Claim_Products_Loop.Topic_4__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TempClaimProduct.Topic_5__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Claim_Products_Loop.Topic_5__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TempClaimProduct.Quantity__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>AddTempProductToCollection_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignTempProductPart_0</name>
        <label>AssignTempProductPart</label>
        <locationX>1964</locationX>
        <locationY>4502</locationY>
        <assignmentItems>
            <assignToReference>TempClaimProduct.Case__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CaseId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TempClaimProduct.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Claim_Products_Loop.RecordTypeId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TempClaimProduct.Topic_1__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Claim_Products_Loop.Topic_1__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TempClaimProduct.Topic_2__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Claim_Products_Loop.Topic_2__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TempClaimProduct.Topic_3__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Claim_Products_Loop.Topic_3__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TempClaimProduct.Topic_4__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Claim_Products_Loop.Topic_4__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TempClaimProduct.Topic_5__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Claim_Products_Loop.Topic_5__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TempClaimProduct.Quantity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Claim_Products_Loop.Quantity__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TempClaimProduct.Product__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Claim_Products_Loop.Product__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TempClaimProduct.Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Product_Price_New.UnitPrice</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TempClaimProduct.Total_Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetCurrentTotalPriceNew</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TempClaimProduct.Hours__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>AddTempProductToCollection_0_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Case_Type_is_Chairtopper_0</name>
        <label>Case Type is Chairtopper</label>
        <locationX>1810</locationX>
        <locationY>2654</locationY>
        <assignmentItems>
            <assignToReference>Case_Type</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Chairtopper</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Parts_Labor_New</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Case_Type_is_Chairtopper_0_0</name>
        <label>Case Type is Chairtopper</label>
        <locationX>314</locationX>
        <locationY>3014</locationY>
        <assignmentItems>
            <assignToReference>Case_Type</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Chairtopper</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Parts_Labor_Resubmit</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Case_Type_is_Lift_New_0</name>
        <label>Case Type is Lift</label>
        <locationX>2074</locationX>
        <locationY>2654</locationY>
        <assignmentItems>
            <assignToReference>Case_Type</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Lift</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Parts_Labor_New</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Case_Type_is_Lift_New_0_0</name>
        <label>Case Type is Lift</label>
        <locationX>578</locationX>
        <locationY>3014</locationY>
        <assignmentItems>
            <assignToReference>Case_Type</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Lift</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Parts_Labor_Resubmit</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Case_Type_is_Part_New_0</name>
        <label>Case Type is Part</label>
        <locationX>2778</locationX>
        <locationY>2654</locationY>
        <assignmentItems>
            <assignToReference>Case_Type</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Part</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Parts_Labor_New</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Case_Type_is_Part_New_0_0</name>
        <label>Case Type is Part</label>
        <locationX>1282</locationX>
        <locationY>3014</locationY>
        <assignmentItems>
            <assignToReference>Case_Type</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Part</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Parts_Labor_Resubmit</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Case_Type_is_Seat_New_0</name>
        <label>Case Type is Seat</label>
        <locationX>2338</locationX>
        <locationY>2654</locationY>
        <assignmentItems>
            <assignToReference>Case_Type</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Seat</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Parts_Labor_New</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Case_Type_is_Seat_New_0_0</name>
        <label>Case Type is Seat</label>
        <locationX>842</locationX>
        <locationY>3014</locationY>
        <assignmentItems>
            <assignToReference>Case_Type</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Seat</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Parts_Labor_Resubmit</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Default_Topic_is_Lift_0_0_0_0</name>
        <label>Default Topic is Lift</label>
        <locationX>2074</locationX>
        <locationY>2534</locationY>
        <assignmentItems>
            <assignToReference>Default_Topic</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Lifts</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Case_Type_is_Lift_New_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Default_Topic_is_Lift_0_0_0_0_0</name>
        <label>Default Topic is Lift</label>
        <locationX>578</locationX>
        <locationY>2894</locationY>
        <assignmentItems>
            <assignToReference>Default_Topic</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Lifts</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Case_Type_is_Lift_New_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Default_Topic_is_Part_0_0_0_0</name>
        <label>Default Topic is Part</label>
        <locationX>2778</locationX>
        <locationY>2534</locationY>
        <assignmentItems>
            <assignToReference>Default_Topic</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Parts</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Case_Type_is_Part_New_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Default_Topic_is_Part_0_0_0_0_0</name>
        <label>Default Topic is Part</label>
        <locationX>1282</locationX>
        <locationY>2894</locationY>
        <assignmentItems>
            <assignToReference>Default_Topic</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Parts</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Case_Type_is_Part_New_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Default_Topic_is_Seats_0_0_0_0</name>
        <label>Default Topic is Seats</label>
        <locationX>2338</locationX>
        <locationY>2534</locationY>
        <assignmentItems>
            <assignToReference>Default_Topic</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Seats</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Case_Type_is_Seat_New_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Default_Topic_is_Seats_0_0_0_0_0</name>
        <label>Default Topic is Seats</label>
        <locationX>842</locationX>
        <locationY>2894</locationY>
        <assignmentItems>
            <assignToReference>Default_Topic</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Seats</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Case_Type_is_Seat_New_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Default_Topic_to_Chairtopper_0_0_0_0</name>
        <label>Default Topic is Chairtopper</label>
        <locationX>1810</locationX>
        <locationY>2534</locationY>
        <assignmentItems>
            <assignToReference>Default_Topic</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Chairtopper</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Case_Type_is_Chairtopper_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Default_Topic_to_Chairtopper_0_0_0_0_0</name>
        <label>Default Topic is Chairtopper</label>
        <locationX>314</locationX>
        <locationY>2894</locationY>
        <assignmentItems>
            <assignToReference>Default_Topic</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Chairtopper</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Case_Type_is_Chairtopper_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Case_Id</name>
        <label>Set Case Id</label>
        <locationX>2294</locationX>
        <locationY>3230</locationY>
        <assignmentItems>
            <assignToReference>CaseId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_Case</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Claim_Products_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Case_Record_Type_to_RMA_Request_New</name>
        <label>Set Case Record Type to RMA Request</label>
        <locationX>1788</locationX>
        <locationY>1718</locationY>
        <assignmentItems>
            <assignToReference>CaseRecordType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>RMA_Request</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Case_Subject_RMA_Request_New</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Case_Record_Type_to_RMA_Request_Resubmit</name>
        <label>Set Case Record Type to RMA Request</label>
        <locationX>292</locationX>
        <locationY>2078</locationY>
        <assignmentItems>
            <assignToReference>CaseRecordType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>RMA_Request</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Case_Subject_RMA_Request_Resubmit</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Case_Record_Type_to_Warranty_Claim_New</name>
        <label>Set Case Record Type to Warranty Claim</label>
        <locationX>2052</locationX>
        <locationY>1718</locationY>
        <assignmentItems>
            <assignToReference>CaseRecordType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Warranty_Claim</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Case_Subject_Warranty_Claim_New</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Case_Record_Type_to_Warranty_Claim_Resubmit</name>
        <label>Set Case Record Type to Warranty Claim</label>
        <locationX>556</locationX>
        <locationY>2078</locationY>
        <assignmentItems>
            <assignToReference>CaseRecordType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Warranty_Claim</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Case_Subject_Warranty_Claim_Resubmit</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Case_Subject_Line_RMA</name>
        <label>Set Case Subject Line</label>
        <locationX>1788</locationX>
        <locationY>1958</locationY>
        <assignmentItems>
            <assignToReference>CaseSubjectLine</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>RMA Request</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Case_Being_Saved</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Case_Subject_Line_RMA_Resubmit</name>
        <label>Set Case Subject Line</label>
        <locationX>292</locationX>
        <locationY>2318</locationY>
        <assignmentItems>
            <assignToReference>CaseSubjectLine</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>RMA Request</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Case_Being_Saved_Again</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Case_Subject_RMA_Request_New</name>
        <label>Set Case Subject - RMA Request</label>
        <locationX>1788</locationX>
        <locationY>1838</locationY>
        <assignmentItems>
            <assignToReference>CaseSubject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>RMA Request for {!Get_Submitted_Asset.Product2.Name}</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Case_Subject_Line_RMA</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Case_Subject_RMA_Request_Resubmit</name>
        <label>Set Case Subject - RMA Request</label>
        <locationX>292</locationX>
        <locationY>2198</locationY>
        <assignmentItems>
            <assignToReference>CaseSubject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>RMA Request for {!Get_Resubmitted_Asset.Product2.Name}</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Case_Subject_Line_RMA_Resubmit</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Case_Subject_Warranty_Claim_New</name>
        <label>Set Case Subject - Warranty Claim</label>
        <locationX>2052</locationX>
        <locationY>1838</locationY>
        <assignmentItems>
            <assignToReference>CaseSubject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Warranty Claim for {!Get_Submitted_Asset.Product2.Name}</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Case_Being_Saved</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Case_Subject_Warranty_Claim_Resubmit</name>
        <label>Set Case Subject - Warranty Claim</label>
        <locationX>556</locationX>
        <locationY>2198</locationY>
        <assignmentItems>
            <assignToReference>CaseSubject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Warranty Claim for {!Get_Resubmitted_Asset.Product2.Name}</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Case_Being_Saved_Again</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Claim_Amount</name>
        <label>Set Claim Amount</label>
        <locationX>1260</locationX>
        <locationY>4502</locationY>
        <assignmentItems>
            <assignToReference>Claim_Products_Loop.Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Product_Price_Resubmit.UnitPrice</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Claim_Product_Total_Amount</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Claim_Product_Total_Amount</name>
        <label>Set Claim Product Total Amount</label>
        <locationX>1260</locationX>
        <locationY>4622</locationY>
        <assignmentItems>
            <assignToReference>Claim_Products_Loop.Total_Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetCurrentTotalPriceResubmit</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_Update_List</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Has_Part_to_True</name>
        <label>Set Has Part to True</label>
        <locationX>1260</locationX>
        <locationY>4142</locationY>
        <assignmentItems>
            <assignToReference>HasPart</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Product_Price_Resubmit</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Has_Part_to_True_0</name>
        <label>Set Has Part to True</label>
        <locationX>1964</locationX>
        <locationY>4142</locationY>
        <assignmentItems>
            <assignToReference>HasPart</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Product_Price_New</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Product_Group_Name_New_0</name>
        <label>Set Product Group Name</label>
        <locationX>2294</locationX>
        <locationY>2294</locationY>
        <assignmentItems>
            <assignToReference>CurrentProductGroup</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Submitted_Asset.Product_Group__r.Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>What_is_the_Product_Type</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Product_Group_Name_Resubmit_0</name>
        <label>Set Product Group Name</label>
        <locationX>798</locationX>
        <locationY>2654</locationY>
        <assignmentItems>
            <assignToReference>CurrentProductGroup</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Resubmitted_Asset.Product_Group__r.Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>What_is_the_Product_Type_0</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Does_Claim_Product_Exist</name>
        <label>Does Claim Product Exist?</label>
        <locationX>1678</locationX>
        <locationY>3902</locationY>
        <defaultConnector>
            <targetReference>RecordType_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Claim Product Does Not Exist</defaultConnectorLabel>
        <rules>
            <name>Claim_Product_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Claim_Products_Loop.Id</leftValueReference>
                <operator>WasSet</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Record_Type_of_Claim_Product</targetReference>
            </connector>
            <label>Claim Product Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_Case_Id</name>
        <label>Has Case Id</label>
        <locationX>1172</locationX>
        <locationY>758</locationY>
        <defaultConnector>
            <targetReference>Get_Asset</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Case_Id_is_NOT_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CaseId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Rejected_Case</targetReference>
            </connector>
            <label>Case Id is NOT null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_Claim_Products_to_be_Deleted</name>
        <label>Has Claim Products to be Deleted?</label>
        <locationX>1172</locationX>
        <locationY>5966</locationY>
        <defaultConnector>
            <targetReference>Should_Save_Case_PartsAndLabor</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Nothing to Delete</defaultConnectorLabel>
        <rules>
            <name>Has_Claim_Products_to_Delete</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ClaimsToBeDeleted</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_Records</targetReference>
            </connector>
            <label>Has Claim Products to Delete</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Case_Being_Saved</name>
        <label>Is Case Being Saved?</label>
        <locationX>1920</locationX>
        <locationY>2174</locationY>
        <defaultConnector>
            <targetReference>Set_Product_Group_Name_New_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Being_Saved</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Case_Information_New.isDraft</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Case_Record_Type_Saved</targetReference>
            </connector>
            <label>Is Being Saved</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Case_Being_Saved_Again</name>
        <label>Is Case Being Saved Again?</label>
        <locationX>424</locationX>
        <locationY>2534</locationY>
        <defaultConnector>
            <targetReference>Set_Product_Group_Name_Resubmit_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Saving</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Case_Information_Resubmit.isDraft</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Case_Record_Type_Resubmit_0</targetReference>
            </connector>
            <label>Is Saving</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_RMA_Request_New</name>
        <label>Is RMA Request?</label>
        <locationX>1920</locationX>
        <locationY>1598</locationY>
        <defaultConnector>
            <targetReference>Set_Case_Record_Type_to_Warranty_Claim_New</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Asset for Warranty Claims</defaultConnectorLabel>
        <rules>
            <name>Asset_for_RMAs</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Submitted_Asset.Product2.Quality_Return__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Case_Record_Type_to_RMA_Request_New</targetReference>
            </connector>
            <label>Asset for RMAs</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_RMA_Request_Resubmit</name>
        <label>Is RMA Request?</label>
        <locationX>424</locationX>
        <locationY>1958</locationY>
        <defaultConnector>
            <targetReference>Set_Case_Record_Type_to_Warranty_Claim_Resubmit</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Asset for Warranty Claims</defaultConnectorLabel>
        <rules>
            <name>Asset_for_RMAs_Resubmit</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Related_Asset.Product2.Quality_Return__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Case_Record_Type_to_RMA_Request_Resubmit</targetReference>
            </connector>
            <label>Asset for RMAs</label>
        </rules>
    </decisions>
    <decisions>
        <name>Record_Type_of_Claim_Product</name>
        <label>Record Type of Claim Product?</label>
        <locationX>1392</locationX>
        <locationY>4022</locationY>
        <defaultConnector>
            <targetReference>Add_to_Update_List</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Is Labor</defaultConnectorLabel>
        <rules>
            <name>Is_Part</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Claim_Products_Loop.RecordType.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>partsRecordTypeId</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Has_Part_to_True</targetReference>
            </connector>
            <label>Is Part</label>
        </rules>
    </decisions>
    <decisions>
        <name>RecordType_0</name>
        <label>RecordType</label>
        <locationX>1964</locationX>
        <locationY>4022</locationY>
        <defaultConnector>
            <targetReference>Claim_Products_Loop</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Labor_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Claim_Products_Loop.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Labor</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignTempProductLabor_0</targetReference>
            </connector>
            <label>Labor</label>
        </rules>
        <rules>
            <name>Part_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Claim_Products_Loop.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Part</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Has_Part_to_True_0</targetReference>
            </connector>
            <label>Part</label>
        </rules>
    </decisions>
    <decisions>
        <name>Should_Save_Case_PartsAndLabor</name>
        <label>Should Save Case?</label>
        <locationX>1172</locationX>
        <locationY>6302</locationY>
        <defaultConnector>
            <targetReference>Type_of_Approval_Process</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Save_Case</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Should_Save_Case</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Status_to_On_Hold</targetReference>
            </connector>
            <label>Save Case</label>
        </rules>
    </decisions>
    <decisions>
        <name>Should_Warranty_Reimbursement_Be_Added</name>
        <label>Should Warranty Reimbursement Be Added?</label>
        <locationX>1172</locationX>
        <locationY>5150</locationY>
        <defaultConnector>
            <targetReference>Update_Claim_Products</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Claim Has No Parts</defaultConnectorLabel>
        <rules>
            <name>Claim_Has_Parts</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>HasPart</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Case</targetReference>
            </connector>
            <label>Claim Has Parts</label>
        </rules>
    </decisions>
    <decisions>
        <name>Type_of_Approval_Process</name>
        <label>Type of Approval Process</label>
        <locationX>1634</locationX>
        <locationY>6422</locationY>
        <defaultConnector>
            <targetReference>Submit_for_Else_Approval</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Valid_for_Chair</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>CurrentProductGroup</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>NADAACT</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CurrentProductGroup</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>OCHRTOP</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CurrentProductGroup</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>GSCHTOP</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Submit_to_Chair_Approval_Process</targetReference>
            </connector>
            <label>Valid for Chair</label>
        </rules>
        <rules>
            <name>Valid_for_Lift</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>CurrentProductGroup</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>LDPACEN</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CurrentProductGroup</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>LDPAESR</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CurrentProductGroup</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>LDPAGBL</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CurrentProductGroup</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>LDPAMIL</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CurrentProductGroup</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>LDPAQLD</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CurrentProductGroup</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>LDPAVIS</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CurrentProductGroup</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>LMCIRAMP</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CurrentProductGroup</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>LMTRCH</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CurrentProductGroup</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>LRAMP</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CurrentProductGroup</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>LSWING</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CurrentProductGroup</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>LUVL</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CurrentProductGroup</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>LVNGTR</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CurrentProductGroup</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>OEXECSTP</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Submit_to_Lift_Approval</targetReference>
            </connector>
            <label>Valid for Lift</label>
        </rules>
        <rules>
            <name>Valid_for_Recall</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>CurrentProductGroup</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>WRCRT</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CurrentProductGroup</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>WRCSCRT</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CurrentProductGroup</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>WRCSFXI</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CurrentProductGroup</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>WRCSHXI</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CurrentProductGroup</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>WRCST</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Submit_to_Recall_Approval</targetReference>
            </connector>
            <label>Valid for Recall</label>
        </rules>
        <rules>
            <name>Valid_for_Seat</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>CurrentProductGroup</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>NADAATS</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CurrentProductGroup</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>GSEXSTP</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CurrentProductGroup</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>GSUWCR</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CurrentProductGroup</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>GSTSB</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CurrentProductGroup</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>GSTRNY</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Submit_to_Seat_Approval</targetReference>
            </connector>
            <label>Valid for Seat</label>
        </rules>
        <rules>
            <name>Valid_For_WAV</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>CurrentProductGroup</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CRCRUV7</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CurrentProductGroup</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CRCV3</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CurrentProductGroup</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CRCV7</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CurrentProductGroup</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CRCV8</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CurrentProductGroup</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CRCVB</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CurrentProductGroup</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CRCVM</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CurrentProductGroup</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CRCVS</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CurrentProductGroup</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CRCVT</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CurrentProductGroup</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CRHV7</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CurrentProductGroup</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CRNVT</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CurrentProductGroup</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CRTV3</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CurrentProductGroup</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CRTV7</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CurrentProductGroup</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CRTV8</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CurrentProductGroup</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CRTVM</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CurrentProductGroup</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CRTVS</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CurrentProductGroup</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CRTVT</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CurrentProductGroup</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CSCAI</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CurrentProductGroup</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CSCCP</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CurrentProductGroup</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CSCCV</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CurrentProductGroup</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CSCCX</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CurrentProductGroup</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CSCE2</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CurrentProductGroup</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CSCE3</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CurrentProductGroup</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CSCE5</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CurrentProductGroup</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CSCRUE2</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CurrentProductGroup</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CSCRUXI</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CurrentProductGroup</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CSCRUXT</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CurrentProductGroup</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CSCXI</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CurrentProductGroup</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CSCXM</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CurrentProductGroup</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CSCXT</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CurrentProductGroup</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CSFXI</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CurrentProductGroup</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CSHE2</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CurrentProductGroup</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CSHXI</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CurrentProductGroup</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CSTE2</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CurrentProductGroup</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CSTXF</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CurrentProductGroup</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CSTXI</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CurrentProductGroup</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CSTXT</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CurrentProductGroup</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CSGXI</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Submit_to_WAV_Approval</targetReference>
            </connector>
            <label>Valid For WAV</label>
        </rules>
    </decisions>
    <decisions>
        <name>What_is_the_Product_Type</name>
        <label>What is the Product Type?</label>
        <locationX>2294</locationX>
        <locationY>2414</locationY>
        <defaultConnector>
            <targetReference>Default_Topic_is_Part_0_0_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Product Type: Part</defaultConnectorLabel>
        <rules>
            <name>Product_Type_Chair</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>CurrentProductGroup</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>NADAACT</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CurrentProductGroup</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>OCHRTOP</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CurrentProductGroup</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>GSCHTOP</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Default_Topic_to_Chairtopper_0_0_0_0</targetReference>
            </connector>
            <label>Product Type: Chair</label>
        </rules>
        <rules>
            <name>Product_Type_Lift</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>CurrentProductGroup</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>LDPACEN</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CurrentProductGroup</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>LDPAESR</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CurrentProductGroup</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>LDPAGBL</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CurrentProductGroup</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>LDPAMIL</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CurrentProductGroup</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>LDPAQLD</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CurrentProductGroup</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>LDPAVIS</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CurrentProductGroup</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>LMCIRAMP</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CurrentProductGroup</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>LMTRCH</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CurrentProductGroup</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>LRAMP</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CurrentProductGroup</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>LSWING</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CurrentProductGroup</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>LUVL</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CurrentProductGroup</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>LVNGTR</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CurrentProductGroup</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>OEXECSTP</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Default_Topic_is_Lift_0_0_0_0</targetReference>
            </connector>
            <label>Product Type: Lift</label>
        </rules>
        <rules>
            <name>Product_Type_Seat</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>CurrentProductGroup</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>NADAATS</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CurrentProductGroup</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>GSEXSTP</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CurrentProductGroup</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>GSUWCR</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CurrentProductGroup</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>GSTSB</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CurrentProductGroup</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>GSTRNY</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Default_Topic_is_Seats_0_0_0_0</targetReference>
            </connector>
            <label>Product Type: Seat</label>
        </rules>
        <rules>
            <name>Product_Type_WAV</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>CurrentProductGroup</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CRCRUV7</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CurrentProductGroup</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CRCV3</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CurrentProductGroup</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CRCV7</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CurrentProductGroup</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CRCV8</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CurrentProductGroup</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CRCVB</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CurrentProductGroup</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CRCVM</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CurrentProductGroup</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CRCVS</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CurrentProductGroup</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CRCVT</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CurrentProductGroup</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CRHV7</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CurrentProductGroup</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CRNVT</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CurrentProductGroup</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CRTV3</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CurrentProductGroup</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CRTV7</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CurrentProductGroup</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CRTV8</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CurrentProductGroup</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CRTVM</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CurrentProductGroup</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CRTVS</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CurrentProductGroup</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CRTVT</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CurrentProductGroup</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CSCAI</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CurrentProductGroup</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CSCCP</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CurrentProductGroup</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CSCCV</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CurrentProductGroup</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CSCCX</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CurrentProductGroup</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CSCE2</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CurrentProductGroup</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CSCE3</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CurrentProductGroup</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CSCE5</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CurrentProductGroup</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CSCRUE2</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CurrentProductGroup</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CSCRUXI</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CurrentProductGroup</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CSCRUXT</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CurrentProductGroup</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CSCXI</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CurrentProductGroup</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CSCXM</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CurrentProductGroup</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CSCXT</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CurrentProductGroup</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CSFXI</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CurrentProductGroup</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CSHE2</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CurrentProductGroup</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CSHXI</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CurrentProductGroup</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CSTE2</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CurrentProductGroup</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CSTXF</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CurrentProductGroup</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CSTXI</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CurrentProductGroup</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CSTXT</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CurrentProductGroup</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CSGXI</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CurrentProductGroup</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>WRCRT</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CurrentProductGroup</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>WRCSCRT</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CurrentProductGroup</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>WRCSFXI</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CurrentProductGroup</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>WRCSHXI</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CurrentProductGroup</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>WRCST</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Parts_Labor_New</targetReference>
            </connector>
            <label>Product Type: WAV</label>
        </rules>
    </decisions>
    <decisions>
        <name>What_is_the_Product_Type_0</name>
        <label>What is the Product Type?</label>
        <locationX>798</locationX>
        <locationY>2774</locationY>
        <defaultConnector>
            <targetReference>Default_Topic_is_Part_0_0_0_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Product Type: Part</defaultConnectorLabel>
        <rules>
            <name>Product_Type_Chair_0</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>CurrentProductGroup</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>NADAACT</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CurrentProductGroup</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>OCHRTOP</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CurrentProductGroup</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>GSCHTOP</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Default_Topic_to_Chairtopper_0_0_0_0_0</targetReference>
            </connector>
            <label>Product Type: Chair</label>
        </rules>
        <rules>
            <name>Product_Type_Lift_0</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>CurrentProductGroup</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>LDPACEN</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CurrentProductGroup</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>LDPAESR</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CurrentProductGroup</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>LDPAGBL</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CurrentProductGroup</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>LDPAMIL</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CurrentProductGroup</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>LDPAQLD</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CurrentProductGroup</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>LDPAVIS</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CurrentProductGroup</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>LMCIRAMP</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CurrentProductGroup</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>LMTRCH</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CurrentProductGroup</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>LRAMP</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CurrentProductGroup</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>LSWING</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CurrentProductGroup</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>LUVL</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CurrentProductGroup</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>LVNGTR</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CurrentProductGroup</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>OEXECSTP</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Default_Topic_is_Lift_0_0_0_0_0</targetReference>
            </connector>
            <label>Product Type: Lift</label>
        </rules>
        <rules>
            <name>Product_Type_Seat_0</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>CurrentProductGroup</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>NADAATS</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CurrentProductGroup</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>GSEXSTP</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CurrentProductGroup</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>GSUWCR</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CurrentProductGroup</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>GSTSB</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CurrentProductGroup</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>GSTRNY</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Default_Topic_is_Seats_0_0_0_0_0</targetReference>
            </connector>
            <label>Product Type: Seat</label>
        </rules>
        <rules>
            <name>Product_Type_WAV_0</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>CurrentProductGroup</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CRCRUV7</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CurrentProductGroup</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CRCV3</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CurrentProductGroup</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CRCV7</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CurrentProductGroup</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CRCV8</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CurrentProductGroup</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CRCVB</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CurrentProductGroup</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CRCVM</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CurrentProductGroup</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CRCVS</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CurrentProductGroup</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CRCVT</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CurrentProductGroup</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CRHV7</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CurrentProductGroup</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CRNVT</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CurrentProductGroup</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CRTV3</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CurrentProductGroup</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CRTV7</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CurrentProductGroup</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CRTV8</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CurrentProductGroup</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CRTVM</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CurrentProductGroup</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CRTVS</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CurrentProductGroup</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CRTVT</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CurrentProductGroup</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CSCAI</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CurrentProductGroup</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CSCCP</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CurrentProductGroup</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CSCCV</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CurrentProductGroup</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CSCCX</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CurrentProductGroup</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CSCE2</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CurrentProductGroup</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CSCE3</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CurrentProductGroup</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CSCE5</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CurrentProductGroup</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CSCRUE2</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CurrentProductGroup</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CSCRUXI</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CurrentProductGroup</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CSCRUXT</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CurrentProductGroup</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CSCXI</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CurrentProductGroup</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CSCXM</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CurrentProductGroup</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CSCXT</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CurrentProductGroup</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CSFXI</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CurrentProductGroup</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CSHE2</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CurrentProductGroup</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CSHXI</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CurrentProductGroup</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CSTE2</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CurrentProductGroup</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CSTXF</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CurrentProductGroup</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CSTXI</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CurrentProductGroup</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CSTXT</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CurrentProductGroup</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CSGXI</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CurrentProductGroup</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>WRCRT</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CurrentProductGroup</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>WRCSCRT</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CurrentProductGroup</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>WRCSFXI</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CurrentProductGroup</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>WRCSHXI</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CurrentProductGroup</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>WRCST</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Parts_Labor_Resubmit</targetReference>
            </connector>
            <label>Product Type: WAV</label>
        </rules>
    </decisions>
    <formulas>
        <name>FullName</name>
        <dataType>String</dataType>
        <expression>{!$User.FirstName} + {!$User.LastName}</expression>
    </formulas>
    <formulas>
        <name>GetCurrentTotalPriceNew</name>
        <dataType>Currency</dataType>
        <expression>{!Claim_Products_Loop.Quantity__c} * {!Get_Product_Price_New.UnitPrice}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>GetCurrentTotalPriceResubmit</name>
        <dataType>Currency</dataType>
        <expression>{!Claim_Products_Loop.Quantity__c} * {!Get_Product_Price_Resubmit.UnitPrice}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>MileageCyclesInNew</name>
        <dataType>Number</dataType>
        <expression>VALUE({!Case_Information_New.outputMileageCyclesIn})</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>MileageCyclesInResubmit</name>
        <dataType>Number</dataType>
        <expression>VALUE({!Case_Information_Resubmit.outputMileageCyclesIn})</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>MileageCyclesOutNew</name>
        <dataType>Number</dataType>
        <expression>VALUE({!Case_Information_New.outputMileageCyclesOut})</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>MileageCyclesOutResubmit</name>
        <dataType>Number</dataType>
        <expression>VALUE({!Case_Information_Resubmit.outputMileageCyclesOut})</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>SpecialClaimsAmountNew</name>
        <dataType>Currency</dataType>
        <expression>VALUE({!Case_Information_New.outputSpecialAmount})</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>SpecialClaimsAmountResubmit</name>
        <dataType>Currency</dataType>
        <expression>VALUE({!Case_Information_Resubmit.outputSpecialAmount})</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>StatusAutomation</name>
        <dataType>String</dataType>
        <expression>IF({!Should_Save_Case}, &apos;New&apos;, &apos;Submitted&apos;)</expression>
    </formulas>
    <interviewLabel>{!CaseSubject} {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Warranty Claim Form</label>
    <loops>
        <name>Claim_Products_Loop</name>
        <label>Claim Products Loop</label>
        <locationX>1172</locationX>
        <locationY>3782</locationY>
        <collectionReference>ClaimProductsCollection</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Does_Claim_Product_Exist</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Should_Warranty_Reimbursement_Be_Added</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Case</name>
        <label>Create Case</label>
        <locationX>2294</locationX>
        <locationY>3110</locationY>
        <connector>
            <targetReference>Set_Case_Id</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>Case_Information_New.outputAccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AccountNumber__c</field>
            <value>
                <elementReference>Case_Information_New.outputAccountNumber</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AssetId</field>
            <value>
                <elementReference>Case_Information_New.outputAssetId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Case_Number_for_Special_Claims__c</field>
            <value>
                <elementReference>Case_Information_New.outputSpecialNumber</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Cause__c</field>
            <value>
                <elementReference>Case_Information_New.outputCause</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Concern__c</field>
            <value>
                <elementReference>Case_Information_New.outputConcern</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>$User.ContactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Correction__c</field>
            <value>
                <elementReference>Case_Information_New.outputCorrection</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Customer_Email__c</field>
            <value>
                <elementReference>Case_Information_New.outputCustomerEmail</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Customer_Name__c</field>
            <value>
                <elementReference>Case_Information_New.outputCustomerName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Dealer_RO_PO_No__c</field>
            <value>
                <elementReference>Case_Information_New.outputDealerRoPo</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Dealer_Rep__c</field>
            <value>
                <elementReference>Case_Information_New.outputRepairTechId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Mileage_Cycles_In__c</field>
            <value>
                <elementReference>MileageCyclesInNew</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Mileage_Cycles_Out__c</field>
            <value>
                <elementReference>MileageCyclesOutNew</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <stringValue>Web</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ProductId</field>
            <value>
                <elementReference>Get_Submitted_Asset.Product2Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Recall_Lookup__c</field>
            <value>
                <elementReference>Get_Recall_Record_New.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Recalled_Asset__c</field>
            <value>
                <elementReference>Case_Information_New.outputRecalledAsset</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Get_Case_Record_Type_New.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Repair_Date_In__c</field>
            <value>
                <elementReference>Case_Information_New.outputRepairDateIn</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Repair_Date_Out__c</field>
            <value>
                <elementReference>Case_Information_New.outputRepairDateOut</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Special_Claims_Exceptions_Amount__c</field>
            <value>
                <elementReference>SpecialClaimsAmountNew</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Submitted</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>CaseSubjectLine</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Submission_Acknowledgement__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <elementReference>Case_Type</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Vehicle_VIN__c</field>
            <value>
                <elementReference>Get_Submitted_Asset.VIN_Serial_Number__c</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Case_0</name>
        <label>Create Case</label>
        <locationX>1546</locationX>
        <locationY>2414</locationY>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>Case_Information_New.outputAccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AccountNumber__c</field>
            <value>
                <elementReference>Case_Information_New.outputAccountNumber</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AssetId</field>
            <value>
                <elementReference>Case_Information_New.outputAssetId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Case_Number_for_Special_Claims__c</field>
            <value>
                <elementReference>Case_Information_New.outputSpecialNumber</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Cause__c</field>
            <value>
                <elementReference>Case_Information_New.outputCause</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Concern__c</field>
            <value>
                <elementReference>Case_Information_New.outputConcern</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>$User.ContactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Correction__c</field>
            <value>
                <elementReference>Case_Information_New.outputCorrection</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Customer_Email__c</field>
            <value>
                <elementReference>Case_Information_New.outputCustomerEmail</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Customer_Name__c</field>
            <value>
                <elementReference>Case_Information_New.outputCustomerName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Dealer_RO_PO_No__c</field>
            <value>
                <elementReference>Case_Information_New.outputDealerRoPo</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Dealer_Rep__c</field>
            <value>
                <elementReference>Case_Information_New.outputRepairTechId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Mileage_Cycles_In__c</field>
            <value>
                <elementReference>MileageCyclesInNew</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Mileage_Cycles_Out__c</field>
            <value>
                <elementReference>MileageCyclesOutNew</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <stringValue>Web</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ProductId</field>
            <value>
                <elementReference>Get_Submitted_Asset.Product2Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Recall_Lookup__c</field>
            <value>
                <elementReference>Get_Recall_Record_New.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Recalled_Asset__c</field>
            <value>
                <elementReference>Case_Information_New.outputRecalledAsset</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Get_Case_Record_Type_Saved.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Repair_Date_In__c</field>
            <value>
                <elementReference>Case_Information_New.outputRepairDateIn</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Repair_Date_Out__c</field>
            <value>
                <elementReference>Case_Information_New.outputRepairDateOut</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Special_Claims_Exceptions_Amount__c</field>
            <value>
                <elementReference>SpecialClaimsAmountNew</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>On Hold</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>CaseSubjectLine</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Submission_Acknowledgement__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <elementReference>Case_Type</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Vehicle_VIN__c</field>
            <value>
                <elementReference>Get_Submitted_Asset.VIN_Serial_Number__c</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Claim_Product</name>
        <label>Create Claim Product</label>
        <locationX>1172</locationX>
        <locationY>5846</locationY>
        <connector>
            <targetReference>Has_Claim_Products_to_be_Deleted</targetReference>
        </connector>
        <inputReference>ClaimProductsCollectionToCreate</inputReference>
    </recordCreates>
    <recordDeletes>
        <name>Delete_Records</name>
        <label>Delete Records</label>
        <locationX>1040</locationX>
        <locationY>6086</locationY>
        <connector>
            <targetReference>Should_Save_Case_PartsAndLabor</targetReference>
        </connector>
        <inputReference>ClaimsToBeDeleted</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>Get_Asset</name>
        <label>Get_Asset</label>
        <locationX>1920</locationX>
        <locationY>878</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Contact</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Asset</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Case</name>
        <label>Get Case</label>
        <locationX>1040</locationX>
        <locationY>5270</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Warranty_Reimbursement_Details</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Case_Record_Type</name>
        <label>Get Case Record Type</label>
        <locationX>1172</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Labor_Record_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Case</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Warranty Claim</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Case_Record_Type_New</name>
        <label>Get Case Record Type</label>
        <locationX>2294</locationX>
        <locationY>2990</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Case</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Case</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseRecordType</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Case_Record_Type_Resubmit</name>
        <label>Get Case Record Type</label>
        <locationX>798</locationX>
        <locationY>3350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Resubmit_Case</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Case</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseRecordType</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Case_Record_Type_Resubmit_0</name>
        <label>Get Case Record Type</label>
        <locationX>50</locationX>
        <locationY>2654</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Resubmit_Case_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Case</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseRecordType</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Case_Record_Type_Saved</name>
        <label>Get Case Record Type</label>
        <locationX>1546</locationX>
        <locationY>2294</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Case_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Case</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseRecordType</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Contact</name>
        <label>Get Contact</label>
        <locationX>1920</locationX>
        <locationY>998</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Case_Info_New</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.ContactId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Labor_Record_Type</name>
        <label>Get Labor Record Type</label>
        <locationX>1172</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Standard_Price_Book</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Claim_Product__c</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Labor</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>laborRecordTypeId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Part_Record_Type</name>
        <label>Get Part Record Type</label>
        <locationX>1172</locationX>
        <locationY>518</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_RMA_Request_Record_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Claim_Product__c</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Part</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>partsRecordTypeId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Product_Price_New</name>
        <label>Get Product Price</label>
        <locationX>1964</locationX>
        <locationY>4262</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Add_Parts_Total_New</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Product2Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Claim_Products_Loop.Product__r.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Pricebook2Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Standard_Price_Book.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PricebookEntry</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Product_Price_Resubmit</name>
        <label>Get Product Price</label>
        <locationX>1260</locationX>
        <locationY>4262</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Add_Parts_Total_Resubmit</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Product2Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Claim_Products_Loop.Product__r.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Pricebook2Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Standard_Price_Book.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PricebookEntry</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Recall_Record_New</name>
        <label>Get Recall Record</label>
        <locationX>1920</locationX>
        <locationY>1358</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Submitted_Asset</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Recalled_Asset_Record_New.Recall__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Recall__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Recall_Record_Resubmit</name>
        <label>Get Recall Record</label>
        <locationX>424</locationX>
        <locationY>1718</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Resubmitted_Asset</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Recalled_Asset_Record_Resubmit.Recall__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Recall__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Recalled_Asset_Record_New</name>
        <label>Get Recalled Asset Record</label>
        <locationX>1920</locationX>
        <locationY>1238</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Recall_Record_New</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Case_Information_New.outputRecalledAsset</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Recallable__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Recalled_Asset_Record_Resubmit</name>
        <label>Get Recalled Asset Record</label>
        <locationX>424</locationX>
        <locationY>1598</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Recall_Record_Resubmit</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Case_Information_Resubmit.outputRecalledAsset</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Recallable__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Rejected_Case</name>
        <label>Get Rejected Case</label>
        <locationX>424</locationX>
        <locationY>878</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Repair_Tech_Email</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Related_Asset</name>
        <label>Get Related Asset</label>
        <locationX>424</locationX>
        <locationY>1238</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Related_Claim_Products</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Rejected_Case.Asset.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Asset</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Related_Claim_Products</name>
        <label>Get Related Claim Products</label>
        <locationX>424</locationX>
        <locationY>1358</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Case_Info_Resubmit</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Case__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseId</elementReference>
            </value>
        </filters>
        <object>Claim_Product__c</object>
        <outputReference>ClaimProductsCollection</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Case__c</queriedFields>
        <queriedFields>Amount__c</queriedFields>
        <queriedFields>Hours__c</queriedFields>
        <queriedFields>Product__c</queriedFields>
        <queriedFields>Labor_Description__c</queriedFields>
        <queriedFields>RecordTypeId</queriedFields>
        <queriedFields>Product_Code__c</queriedFields>
        <queriedFields>Product_Description__c</queriedFields>
        <queriedFields>Product_SKU__c</queriedFields>
        <queriedFields>Quantity__c</queriedFields>
        <queriedFields>Total_Amount__c</queriedFields>
        <queriedFields>Topic_1__c</queriedFields>
        <queriedFields>Topic_2__c</queriedFields>
        <queriedFields>Topic_3__c</queriedFields>
        <queriedFields>Topic_4__c</queriedFields>
        <queriedFields>Topic_5__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Resubmitted_Asset</name>
        <label>Get Resubmitted Asset</label>
        <locationX>424</locationX>
        <locationY>1838</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_RMA_Request_Resubmit</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Case_Information_Resubmit.outputAssetId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Asset</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_RMA_Request_Record_Type</name>
        <label>Get RMA Request Record Type</label>
        <locationX>1172</locationX>
        <locationY>638</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Has_Case_Id</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>RMA_Request</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Case</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Standard_Price_Book</name>
        <label>Get Standard Price Book</label>
        <locationX>1172</locationX>
        <locationY>398</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Part_Record_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsStandard</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Pricebook2</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Submitted_Asset</name>
        <label>Get Submitted Asset</label>
        <locationX>1920</locationX>
        <locationY>1478</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_RMA_Request_New</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Case_Information_New.outputAssetId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Asset</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Warranty_Reimbursement_Details</name>
        <label>Get Warranty Reimbursement Details</label>
        <locationX>1040</locationX>
        <locationY>5390</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Warranty_Reimbursement_Amount</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Case.Account.Id</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>Get_Case.Warranty_Freight_Reimbursement_Amount__c</assignToReference>
            <field>Warranty_Freight_Reimbursement_Amount__c</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Resubmit_Case</name>
        <label>Resubmit Case</label>
        <locationX>798</locationX>
        <locationY>3470</locationY>
        <connector>
            <targetReference>Claim_Products_Loop</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Rejected_Case.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>Case_Information_Resubmit.outputAccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AccountNumber__c</field>
            <value>
                <elementReference>Case_Information_Resubmit.outputAccountNumber</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AssetId</field>
            <value>
                <elementReference>Case_Information_Resubmit.outputAssetId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Case_Number_for_Special_Claims__c</field>
            <value>
                <elementReference>Case_Information_Resubmit.outputSpecialNumber</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Cause__c</field>
            <value>
                <elementReference>Case_Information_Resubmit.outputCause</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Concern__c</field>
            <value>
                <elementReference>Case_Information_Resubmit.outputConcern</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>$User.ContactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Correction__c</field>
            <value>
                <elementReference>Case_Information_Resubmit.outputCorrection</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Customer_Email__c</field>
            <value>
                <elementReference>Case_Information_Resubmit.outputCustomerEmail</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Customer_Name__c</field>
            <value>
                <elementReference>Case_Information_Resubmit.outputCustomerName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Dealer_RO_PO_No__c</field>
            <value>
                <elementReference>Case_Information_Resubmit.outputDealerRoPo</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Dealer_Rep__c</field>
            <value>
                <elementReference>Case_Information_Resubmit.outputRepairTechId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Mileage_Cycles_In__c</field>
            <value>
                <elementReference>MileageCyclesInResubmit</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Mileage_Cycles_Out__c</field>
            <value>
                <elementReference>MileageCyclesOutResubmit</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ProductId</field>
            <value>
                <elementReference>Get_Resubmitted_Asset.Product2Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Recall_Lookup__c</field>
            <value>
                <elementReference>Get_Recall_Record_Resubmit.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Recalled_Asset__c</field>
            <value>
                <elementReference>Case_Information_Resubmit.outputRecalledAsset</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Get_Case_Record_Type_Resubmit.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Repair_Date_In__c</field>
            <value>
                <elementReference>Case_Information_Resubmit.outputRepairDateIn</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Repair_Date_Out__c</field>
            <value>
                <elementReference>Case_Information_Resubmit.outputRepairDateOut</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Special_Claims_Exceptions_Amount__c</field>
            <value>
                <elementReference>SpecialClaimsAmountResubmit</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Submitted</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>CaseSubjectLine</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Vehicle_VIN__c</field>
            <value>
                <elementReference>Get_Resubmitted_Asset.VIN_Serial_Number__c</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Resubmit_Case_0</name>
        <label>Resubmit Case</label>
        <locationX>50</locationX>
        <locationY>2774</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Rejected_Case.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>Case_Information_Resubmit.outputAccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AccountNumber__c</field>
            <value>
                <elementReference>Case_Information_Resubmit.outputAccountNumber</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AssetId</field>
            <value>
                <elementReference>Case_Information_Resubmit.outputAssetId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Case_Number_for_Special_Claims__c</field>
            <value>
                <elementReference>Case_Information_Resubmit.outputSpecialNumber</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Cause__c</field>
            <value>
                <elementReference>Case_Information_Resubmit.outputCause</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Concern__c</field>
            <value>
                <elementReference>Case_Information_Resubmit.outputConcern</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>$User.ContactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Correction__c</field>
            <value>
                <elementReference>Case_Information_Resubmit.outputCorrection</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Customer_Email__c</field>
            <value>
                <elementReference>Case_Information_Resubmit.outputCustomerEmail</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Customer_Name__c</field>
            <value>
                <elementReference>Case_Information_Resubmit.outputCustomerName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Dealer_RO_PO_No__c</field>
            <value>
                <elementReference>Case_Information_Resubmit.outputDealerRoPo</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Dealer_Rep__c</field>
            <value>
                <elementReference>Case_Information_Resubmit.outputRepairTechId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Mileage_Cycles_In__c</field>
            <value>
                <elementReference>MileageCyclesInResubmit</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Mileage_Cycles_Out__c</field>
            <value>
                <elementReference>MileageCyclesOutResubmit</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ProductId</field>
            <value>
                <elementReference>Get_Resubmitted_Asset.Product2Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Recall_Lookup__c</field>
            <value>
                <elementReference>Get_Recall_Record_Resubmit.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Recalled_Asset__c</field>
            <value>
                <elementReference>Case_Information_Resubmit.outputRecalledAsset</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Get_Case_Record_Type_Resubmit.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Repair_Date_In__c</field>
            <value>
                <elementReference>Case_Information_Resubmit.outputRepairDateIn</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Repair_Date_Out__c</field>
            <value>
                <elementReference>Case_Information_Resubmit.outputRepairDateOut</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Special_Claims_Exceptions_Amount__c</field>
            <value>
                <elementReference>SpecialClaimsAmountResubmit</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Submitted</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>CaseSubjectLine</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Vehicle_VIN__c</field>
            <value>
                <elementReference>Get_Resubmitted_Asset.VIN_Serial_Number__c</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Set_Status_to_On_Hold</name>
        <label>Set Status to On Hold</label>
        <locationX>710</locationX>
        <locationY>6422</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>On Hold</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Claim_Products</name>
        <label>Update Claim Products</label>
        <locationX>1172</locationX>
        <locationY>5726</locationY>
        <connector>
            <targetReference>Create_Claim_Product</targetReference>
        </connector>
        <inputReference>ClaimProductsCollectionToUpdate</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Warranty_Reimbursement_Amount</name>
        <label>Update Warranty Reimbursement Amount</label>
        <locationX>1040</locationX>
        <locationY>5510</locationY>
        <connector>
            <targetReference>Update_Claim_Products</targetReference>
        </connector>
        <inputReference>Get_Case</inputReference>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Case_Info_New</name>
        <label>Case Info - New</label>
        <locationX>1920</locationX>
        <locationY>1118</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_Recalled_Asset_Record_New</targetReference>
        </connector>
        <fields>
            <name>Case_Information_New</name>
            <extensionName>c:recallFormCustomSection</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>initialAccountId</name>
                <value>
                    <elementReference>Get_Contact.AccountId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>initialAssetId</name>
                <value>
                    <elementReference>recordId</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Case_Info_Resubmit</name>
        <label>Case Information - Resubmitting</label>
        <locationX>424</locationX>
        <locationY>1478</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_Recalled_Asset_Record_Resubmit</targetReference>
        </connector>
        <fields>
            <name>Case_Information_Resubmit</name>
            <extensionName>c:recallFormCustomSection</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>initialAccountId</name>
                <value>
                    <elementReference>Get_Rejected_Case.AccountId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>initialAssetId</name>
                <value>
                    <elementReference>Get_Rejected_Case.AssetId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>initialMileageCyclesIn</name>
                <value>
                    <elementReference>Get_Rejected_Case.Mileage_Cycles_In__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>initialRepairDateIn</name>
                <value>
                    <elementReference>Get_Rejected_Case.Repair_Date_In__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>initialRepairDateOut</name>
                <value>
                    <elementReference>Get_Rejected_Case.Repair_Date_Out__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>initialRepairTechId</name>
                <value>
                    <elementReference>Get_Rejected_Case.Dealer_Rep__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>initialSpecialNumber</name>
                <value>
                    <elementReference>Get_Rejected_Case.Case_Number_for_Special_Claims__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>initialCause</name>
                <value>
                    <elementReference>Get_Rejected_Case.Cause__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>initialConcern</name>
                <value>
                    <elementReference>Get_Rejected_Case.Concern__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>initialCorrection</name>
                <value>
                    <elementReference>Get_Rejected_Case.Correction__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>initialCustomerEmail</name>
                <value>
                    <elementReference>Get_Rejected_Case.Customer_Email__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>initialCustomerName</name>
                <value>
                    <elementReference>Get_Rejected_Case.Customer_Name__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>initialDealerRoPo</name>
                <value>
                    <elementReference>Get_Rejected_Case.Dealer_RO_PO_No__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>initialMileageCyclesOut</name>
                <value>
                    <elementReference>Get_Rejected_Case.Mileage_Cycles_Out__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>initialSpecialAmount</name>
                <value>
                    <elementReference>Get_Rejected_Case.Special_Claims_Exceptions_Amount__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>initialRecalledAsset</name>
                <value>
                    <elementReference>Get_Rejected_Case.Recalled_Asset__c</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Parts_Labor_New</name>
        <label>Parts and Labor - New</label>
        <locationX>2294</locationX>
        <locationY>2870</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_Case_Record_Type_New</targetReference>
        </connector>
        <fields>
            <name>Recall_Form_Parts_And_Labor_0</name>
            <extensionName>c:recallFormPartsAndLabor</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>laborRecordTypeId</name>
                <value>
                    <elementReference>laborRecordTypeId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>partRecordTypeId</name>
                <value>
                    <elementReference>partsRecordTypeId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>defaultTopic</name>
                <value>
                    <elementReference>Default_Topic</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>savedClaimsList</name>
                <value>
                    <elementReference>ClaimProductsCollection</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>ClaimProductsCollection</assignToReference>
                <name>claimsList</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>Should_Save_Case</assignToReference>
                <name>isDraft</name>
            </outputParameters>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Parts_Labor_Resubmit</name>
        <label>Parts and Labor - Resubmitting</label>
        <locationX>798</locationX>
        <locationY>3230</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_Case_Record_Type_Resubmit</targetReference>
        </connector>
        <fields>
            <name>Recall_Form_Parts_And_Labor_Resubmit</name>
            <extensionName>c:recallFormPartsAndLabor</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>laborRecordTypeId</name>
                <value>
                    <elementReference>laborRecordTypeId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>partRecordTypeId</name>
                <value>
                    <elementReference>partsRecordTypeId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>defaultTopic</name>
                <value>
                    <elementReference>Default_Topic</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>savedClaimsList</name>
                <value>
                    <elementReference>ClaimProductsCollection</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>ClaimProductsCollection</assignToReference>
                <name>claimsList</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>Should_Save_Case</assignToReference>
                <name>isDraft</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>ClaimsToBeDeleted</assignToReference>
                <name>deletedClaimsList</name>
            </outputParameters>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>1046</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Case_Record_Type</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Case_Type</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>WAV</stringValue>
        </value>
    </variables>
    <variables>
        <name>CaseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CaseRecordType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CaseSubject</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Claim Form</stringValue>
        </value>
    </variables>
    <variables>
        <name>CaseSubjectLine</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Warranty Claim</stringValue>
        </value>
    </variables>
    <variables>
        <name>ClaimLabel</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ClaimProduct</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Claim_Product__c</objectType>
    </variables>
    <variables>
        <name>ClaimProductsCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Claim_Product__c</objectType>
    </variables>
    <variables>
        <name>ClaimProductsCollectionToCreate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Claim_Product__c</objectType>
    </variables>
    <variables>
        <name>ClaimProductsCollectionToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Claim_Product__c</objectType>
    </variables>
    <variables>
        <name>ClaimsToBeDeleted</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Claim_Product__c</objectType>
    </variables>
    <variables>
        <name>CurrentProductGroup</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>The default topic to be displayed</description>
        <name>Default_Topic</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>WAV</stringValue>
        </value>
    </variables>
    <variables>
        <name>HasPart</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <description>The ID for the Labor record type</description>
        <name>laborRecordTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>The ID for the Parts record type</description>
        <name>partsRecordTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PartsTotal</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RepairTechEmail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>RepairTechId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Should this case be saved and not submitted</description>
        <name>Should_Save_Case</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>TempClaimProduct</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Claim_Product__c</objectType>
    </variables>
</Flow>
