force-app/main/default/flows/Update_Inventory.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <assignments>
        <name>Add_Current_Portal_Inventory</name>
        <label>Add Current Portal Inventory</label>
        <locationX>439</locationX>
        <locationY>516</locationY>
        <assignmentItems>
            <assignToReference>Accumulated_Inventory_Value</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Iterate_Through_Portal_Inventory.Total_Not_On_Hold_Inventory__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_Through_Portal_Inventory</targetReference>
        </connector>
    </assignments>
    <interviewLabel>Update Inventory {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Total Inventory on Product2</label>
    <loops>
        <name>Iterate_Through_Portal_Inventory</name>
        <label>Iterate Through Portal Inventory</label>
        <locationX>175</locationX>
        <locationY>516</locationY>
        <collectionReference>Fetch_PortalInventory_Records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_Current_Portal_Inventory</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Total_Inventory_Field</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Fetch_PortalInventory_Records</name>
        <label>Fetch PortalInventory Records</label>
        <locationX>175</locationX>
        <locationY>329</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Iterate_Through_Portal_Inventory</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Product__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Product__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>PortalInventory__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Total_Inventory_Field</name>
        <label>Update Total Inventory Field</label>
        <locationX>174</locationX>
        <locationY>727</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Product__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Total_Inventory__c</field>
            <value>
                <elementReference>Accumulated_Inventory_Value</elementReference>
            </value>
        </inputAssignments>
        <object>Product2</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Fetch_PortalInventory_Records</targetReference>
        </connector>
        <object>PortalInventory__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>Accumulated_Inventory_Value</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
